/my-app-sample/target
/my-app-sample/.idea
/my-app-sample/my-app-sample.iml
/kolia-preparation/.idea
/kolia-preparation/target
/kolia-preparation/kolia-preparation.iml
/reflaction+classloader/my-simple-lib/target
/reflaction+classloader/my-simple-lib/.idea
/reflaction+classloader/my-simple-lib/my-simple-lib.iml
/reflaction+classloader/my-simple-app/target
/reflaction+classloader/my-simple-app/dependency-reduced-pom.xml
/reflaction+classloader/my-simple-app/.idea
/reflaction+classloader/my-simple-app/my-simple-app.iml
/net-tcp/tcp-chat-client/target
/net-tcp/tcp-chat-client/tcp-chat-client.iml
/net-tcp/tcp-chat-client/.idea
/net-tcp/tcp-chat-common/.idea
/net-tcp/tcp-chat-common/target
/net-tcp/tcp-chat-common/tcp-chat-common.iml
/net-tcp/tcp-chat-server/.idea
/net-tcp/tcp-chat-server/target
/net-tcp/tcp-chat-server/dependency-reduced-pom.xml
/net-tcp/tcp-chat-server/tcp-chat-server.iml
/net-udp/udp-server/target
/net-udp/udp-server/udp-server.iml
/net-udp/udp-server/.idea
/net-udp/udp-client/.idea
/net-udp/udp-client/target
/net-udp/udp-client/udp-client.iml
/net-rmi/rmi-client/.idea
/net-rmi/rmi-client/target
/net-rmi/rmi-client/rmi-client.iml
/net-rmi/rmi-common/.idea
/net-rmi/rmi-common/target
/net-rmi/rmi-common/rmi-common.iml
/net-rmi/rmi-server/.idea
/net-rmi/rmi-server/target
/net-rmi/rmi-server/rmi-server.iml
/jaxbfromxsd/target/
/soap-ws-calculator/target
/soap-ws-calculator/.idea
/soap-ws-calculator/soap-ws-calculator.iml
/soap-ws-calculator-client/target
/soap-ws-calculator-client/.idea
/soap-ws-calculator-client/soap-ws-calculator-client.iml
/jaxb-app-sample/.idea
/jaxb-app-sample/target
/jaxb-app-sample/jaxb-app-sample.iml
/jaxb-app-sample/person.xml
/jaxbfromxsd/.idea
/my-jdbc-app/target
/my-jdbc-app/.idea
/my-jdbc-app/my-jdbc-app.iml
/WEB-EE7/sample01/com-app-theweb/.idea
/WEB-EE7/sample01/com-app-theweb/target
/WEB-EE7/sample01/com-app-theweb/com-app-theweb.iml
/WEB-EE7/sample02/servlet-app-sample/target
/WEB-EE7/sample02/servlet-app-sample/servlet-app-sample.iml
/WEB-EE7/sample02/servlet-app-sample/.idea
/WEB-EE7/sample03/web-advanced-app/.idea
/WEB-EE7/sample03/web-advanced-app/target
/WEB-EE7/sample03/web-advanced-app/web-advanced-app.iml
/WEB-EE7/sample04/web-app-auth/.idea
/WEB-EE7/sample04/web-app-auth/target
/WEB-EE7/sample04/web-app-auth/web-app-auth.iml
/WEB-EE7/sample05/tomcat-auth-app/.idea
/WEB-EE7/sample05/tomcat-auth-app/target
/WEB-EE7/sample05/tomcat-auth-app/tomcat-auth-app.iml
/WEB-EE7/sample05/tomcat-auth-app-datab/target
/WEB-EE7/sample05/tomcat-auth-app-datab/tomcat-auth-app-datab.iml
/WEB-EE7/sample05/tomcat-auth-app-datab/.idea
